# REQUIRED
HEARTBEAT_INTERVAL_SECONDS=10
MEMORY_LENGTH_MESSAGES=10
NOTEBOOK_LENGTH_CHARACTERS=1000
TIMEZONE=Europe/Lisbon

#REQUIRED
ENABLE_LMSTUDIO=true
LLM_API_HOST=http://127.0.0.1:1234 
LLM_API_KEY=your_llm_api_key_here
LLM_MODEL=google/gemma-4-e4b
LLM_TEMPERATURE=1.2
LLM_TOP_P=0.95
ANNOUNCE_TOOL_CALLS=true
ANNOUNCE_ERRORS=true

ENABLE_CURRENCY=true
ENABLE_NEWS=true
ENABLE_WEATHER=true
ENABLE_INTERNET=false
ENABLE_WEBSEARCH=false
ENABLE_SHELL=false

# OPTIONAL
ENABLE_TELEGRAM=false
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# OPTIONAL
ENABLE_SMARTER=false
SMARTER_LLM_API_HOST=https://api.openai.com/v1/chat/completions
SMARTER_LLM_API_KEY=
SMARTER_LLM_MODEL=gpt-5.4

# OPTIONAL
ENABLE_EMAIL=false
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM=

# OPTIONAL
ENABLE_SMS=false
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=

# OPTIONAL
ENABLE_GITHUB=false
GITHUB_TOKEN=

# OPTIONAL
# Google calendar for now
ENABLE_CALENDAR=false
# 24h format, hour of the day to check for today's events and notify the user
CALENDAR_DAILY_CHECK_HOUR=7
CALENDAR_ID=
CALENDAR_DEFAULT_DAYS_AHEAD=7
CALENDAR_DEFAULT_MAX_RESULTS=30
CALENDAR_OAUTH_CLIENT_ID=
CALENDAR_OAUTH_CLIENT_SECRET=
CALENDAR_OAUTH_REDIRECT_URI=http://localhost:8000/oauth/calendar/callback

# OPTIONAL
CHAT_API_HOST=http://localhost:8000